.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D70306;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
